.base {
  position: sticky;
  top: 0;
  width: 100%;
  height: 3rem;
  // margin-bottom: 1rem;
  background-color: goldenrod;
  box-shadow: 0 3px 3px rgb(0,0,0,0.2);
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .sidebarButton {
        display: inline-flex;
        align-items: center;
        background-color: goldenrod;
        border : none;
        :focus {
          background-color: white;
          color: goldenrod;
          border-radius: 0.25rem;
        }
        @media (min-width: 770px) {
          display: none;
        }
      }
      .linkList {
        padding-left: 1rem;
        display: none;
        list-style-type: none;
        column-gap: 1.5rem;
        color: white;
        font-family: allura;
        font-size: 28px;

        @media (min-width: 770px) {
          display: flex;
          justify-content: left;
          width: 100%;
        }
      }
      .logo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        min-width: 135px;
        font-family: allura;
        font-style: italic;
        font-size: 18px;
        
        padding-right: 1rem;
        border-right: 1px solid white;
      }
    }
  }
}
